<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/navbar.html :: head ('create')">
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<div class="page-wrapper">
    <nav th:replace="partials/navbar.html :: bootstrap-nav"></nav>
    <div class="container2 container-grow">
        <div class="row2">
            <div class="column2 center-content2">
                <fieldset class="postMiddleForm">
                    <legend>Create a Post</legend>
                    <form class="contact-form" th:action="@{/posts/create}" th:method="post" th:object="${post}">
                        <p for="body">Write your Post:</p>
                        <label for="title">Title:</label>
                        <input type="text" id="title" name="title" th:field="*{title}">
                        <label for="body">Spread the Wooord!</label>
                        <input type="text" id="body" name="body" th:field="*{body}">
                        <input type="submit" value="submit">
                        <select name="user" id="user" th:field="*{user.id}">
                        </select>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>
</body>
</html>