<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Post</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
  This content is only shown to authenticated users.

  User ID: <span th:text="${#authentication.principal.id}"/>
  Username: <span th:text="${#authentication.principal.username}"/>
  Email: <span th:text="${#authentication.principal.email}"/>
</div>

<div class="container-fluid postDisplay">
  <div class="d-flex">
    <form th:action="@{/posts/{id}/edit(id=${postEdit.id})}" class="create-post-form" method="post" th:object="${postEdit}">
      <input id="titleInput" name="titleInput" th:field="*{title}">
      <label for="titleInput">Title</label>
      <textarea name="bodyInput" th:field="*{body}"></textarea>
      <button type="submit" value="Submit Post">SUBMIT POST</button>
      <select name="user" id="user" th:field="*{user.id}" >
        <option
                th:each="post : ${postEdit}"
                th:value="${post.user.id}"
                th:text="${post.user.username}">
        </option>
      </select>
    </form>
  </div>

</div>

</body>
</html>