.each-card {
    display: flex;
    overflow: scroll;
    width: 350px;
    height: 350px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    border-radius: 8%;
    justify-content: space-around;


}

.each-card::-webkit-scrollbar {
    display: none;
}

.banner-div-container{
    display: flex;
    justify-content: center;
}

body{
    background-color: #779396;

}

.card-design{
    display: flex;
    flex-direction: row;
}


