<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coffee</title>
</head>
<body>
  <h1>Coffee!</h1>
  <h2 th:unless="${selection}">Select your favored roast:</h2>
  <div th:if="${selection}">
      <p>You selected: <span th:text="${selection.get(0).roast}"></span> roast!</p>
      <p>Here are some options for you:</p>
  </div>
  <ul>
      <li th:each="selection : ${selections}">
          <p>
              <span th:text="${selection.brand}"></span>
              <span th:text="${selection.orgin}"></span>
              <span th:text="${selection.roast}"></span> roast!
          </p>
      </li>
      <li><a href="/coffee/dark">Dark Roast</a></li>
      <li><a href="/coffee/medium">Medium Roast</a></li>
      <li><a href="/coffee/light">Light Roast</a></li>
  </ul>
  <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus consequuntur culpa deleniti doloribus error est exercitationem expedita magnam magni, numquam, odio optio qui quibusdam ratione repellendus sit tempore velit.</span><span>Aperiam deserunt doloribus, nobis reprehenderit saepe sapiente vero! Eaque, nam, recusandae! Accusantium consequatur, consequuntur, deserunt ea eum eveniet explicabo facere id, labore laborum nam nostrum possimus quibusdam sint voluptatibus voluptatum!</span><span>Accusamus commodi dolor fuga harum magnam nisi possimus qui. Culpa, delectus dignissimos maiores neque numquam odio perferendis perspiciatis provident repellendus reprehenderit. Alias assumenda, consequuntur earum eius enim eum omnis soluta.</span></p>

  <div>
      <p>Want to sign up for our newsletter? Enter your email!</p>
      <form action="/coffee" method="post">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email">
          <button type="submit">Sign up</button>
      </form>
      <p th:if="${email}">Thanks for signing up! We will send the newsletter to <span th:text="${email}"></span></p>
  </div>
</body>
</html>